.portfolio {
  padding-bottom: 125px;
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  margin: 0 70px 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  color: var(--text-color-dimmed);
}

.portfolio__list {
  list-style: none;
  padding-left: 0;
  margin: 0 70px;
}

.portfolio__list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 19px;
  transition: opacity .3s ease-in;
}

.portfolio__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.portfolio__list-item:last-child {
  border: none;
  padding: 0;
}

.portfolio__list-item:hover {
  opacity: .7;
}

.portfolio__link {
  text-decoration: none;
  color: var(--text-color);
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -1.2px;
}

.portfolio__arrow {
  background: url('../../images/link-arrow.svg') center no-repeat;
  width: 29px;
  height: 48px;
}

@media screen and (max-width: 900px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__title {
    margin: 0 auto 50px 50px;
  }

  .portfolio__list {
    margin: 0 50px;
  }

  .portfolio__list-item {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.78;
    letter-spacing: -1.12px;
  }

  .portfolio__arrow {
    width: 25px;
    height: 44px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio {
    padding-bottom: 70px;
  }

  .portfolio__title {
    margin: 0 auto 40px 14px;
    font-size: 14px;
    line-height: 1.42;
  }

  .portfolio__list {
    margin: 0 14px;
  }

  .portfolio__list-item {
    padding-bottom: 18px;
    padding-right: 5px;
  }

  .portfolio__list-item:last-child {
    padding-right: 5px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.72px;
  }
  
  .portfolio__arrow {
    width: 11px;
    height: 28px;
    padding: 0;
    background-size: 100% 100%;
  }
}