@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

:root {
  --text-color: #fff;
  --text-color-dimmed: #8B8B8B;
  --text-color-black: #000;
  --background-for-some-elements: #303030;
  --line-color: #424242;
  --links-and-buttons-color: #4285F4;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  background-color: #202020;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}